@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');
.container{
    width:100%;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding:40px 20px;
  }
  .card{
    display:flex;
    flex-direction:column;
    width:400px;
    margin-bottom:60px;
  }
  .card>div{
    box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
  }
  .card-image{
    margin:-30px auto;
    margin-bottom:-50px;
    height:300px;
    width:300px;
    padding:20px;
  }
  .card-image>img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:bottom;
  }
  .card-text{
    margin:-30px auto;
    margin-bottom:-50px;
    height:300px;
    width:300px;
    background-color:#1D1C20;
    color:#fff;
    padding:20px;
  }
  .card-meal-type{
    font-style:italic;
  }
  .card-title{
    font-size:2.2rem;
    margin-bottom:20px;
    margin-top:5px;
  }
  .card-body{
    font-size:1.25rem;
  }
  .box{
    display:flex;
    justify-content: space-around;
    margin-left:auto;
    margin-right: 100px;
    margin-top: 40px;
    }
  .card-price{
    background-color:#970C0A;
    color:#fff;
    margin-left:auto;
    width:100px;
    height:60px;
    font-size:220;
    display:flex;
    align-items:center;
  }
  .container1 {
    margin-left:auto;
    width:60px;
    height:60px;
    font-size:220;
    display:flex;
    align-items:center;
  } 

button {
	background-color: #fff700;
	color: black;
	border: none;
	padding: 0 20px;
	line-height: 50px;
	border-radius: 10px;
	-webkit-box-shadow: -2px 3px 0px #d4d4d4;
	box-shadow: -2px 3px 0px #d4d4d4;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition-property: line-height;
	-o-transition-property: line-height;
	transition-property: line-height;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

button:focus {
	outline: 0;
}


button > div:nth-child(6) {
	position: absolute;
	top: -50px;
	left: 10px;
	display: none;
	color: red;
}
.list-product{
  display: flex;
  justify-content: space-around;
}






